.eric6project/
.eric6project/**
.eric5project/
.eric5project/**
.eric4project/
.eric4project/**
.ropeproject/
.ropeproject/**
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*.e4p
*~
cur/
tmp/
__pycache__/
*.DS_Store
